<!-- BEGIN MAIN CONTENT -->
<div data-ng-controller="UsersDashboardController">
	<!-- BEGIN DASHBOARD STATS -->
	<div class="row">
		<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
			<div class="dashboard-stat blue-madison">
				<div class="visual">
					<i class="fa fa-users"></i>
				</div>
				<div class="details">
					<div class="number">
						{{items.total_students}}
					</div>
					<div class="desc">
						Students
					</div>
				</div>
				<a class="more" ui-sref="/students">
				View more <i class="m-icon-swapright m-icon-white"></i>
				</a>
			</div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
			<div class="dashboard-stat green-haze">
				<div class="visual">
					<i class="icon-social-dribbble"></i>
				</div>
				<div class="details">
					<div class="number">
					{{items.total_batches}}
					</div>
					<div class="desc">
						Batches
					</div>
				</div>
				<a class="more" ui-sref="/batches">
				View more <i class="m-icon-swapright m-icon-white"></i>
				</a>
			</div>
        </div>
        
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
			<div class="dashboard-stat red-intense">
				<div class="visual">
					<i class="fa fa-building"></i>
				</div>
				<div class="details">
					<div class="number">
						{{items.total_schools}}
					</div>
					<div class="desc">
						Schools
					</div>
				</div>
				<a class="more" ui-sref="/schools">
				View more <i class="m-icon-swapright m-icon-white"></i>
				</a>
			</div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
			<div class="dashboard-stat purple-plum">
				<div class="visual">
					<i class="icon-book-open"></i>
				</div>
				<div class="details">
					<div class="number">
					{{items.total_subjects}}
					</div>
					<div class="desc">
						Subjects
					</div>
				</div>
				<a class="more" ui-sref="/subjects">
				View more <i class="m-icon-swapright m-icon-white"></i>
				</a>
			</div>
        </div>
        
	</div>
	<!-- END DASHBOARD STATS -->	
</div>
<!-- END MAIN CONTENT -->