<script type="text/javascript">
	var t;
	$(document).ready(
    function()
    {       
        window.clearTimeout(t);
        t = window.setTimeout( function(){            
            $('#d_due_date').datepicker({format: 'dd-mm-yyyy'});
            $('#d_paid_date').datepicker({format: 'dd-mm-yyyy'});
        },10);        
    });
</script>
<div ng-controller="AddFeesController">
<!-- BEGIN MAIN CONTENT -->
    <div class="row">
		<div class="col-md-12">
			<!-- Begin add form -->
            <div tabindex="-1">
                
                <div class="portlet box blue-madison">
					<div class="portlet-title">
						<div class="caption">
							<i class="fa fa-plus"></i>Add Fees
						</div>
						<div class="tools">
							<a href="javascript:;" class=""></a>
						</div>
					</div>
					<div class="portlet-body form">
						<!-- BEGIN FORM-->
						<form id="frmAdd" name="frmAdd" class="form-horizontal" onsubmit="return false">
							<div class="form-body">
								<!--h3 class="form-section">Advance validation. <small>Custom radio buttons, checkboxes and Select2 dropdowns</small></h3-->
								<div class="alert alert-danger display-hide" id="validation_error">
									<button class="close" data-close="alert"></button>
                                    You have some form errors. Please check below.
								</div>
								<div class="alert alert-success display-hide" id="frm_add_msg">
									<button class="close" data-close="alert"></button>
                                    {{ success_msg }}
								</div>
                                <div class="form-group"></div>
                                <div class="form-group">
                                    <label class="control-label col-md-3">Batch <span class="required"> * </span> </label>
                                    <div class="col-md-4">
                                        <select ng-model="add_fields.i_batch_id" data-error-message="Batch" name="i_batch_id" class="form-control required">
                                            <option value="">Select Batch</option>
                                            <option ng-repeat="(key, v_batch_title) in batches_list" value="{{key}}">{{v_batch_title}}</option>
        								</select>
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <label class="control-label col-md-3">Student <span class="required"> * </span> </label>
                                    <div class="col-md-4">
                                        <select ng-model="add_fields.i_student_id" data-error-message="Student" name="i_student_id" class="form-control required">
                                            <option value="">Select Student</option>
                                            <option ng-repeat="student in students_list | filter:{i_batch_id : add_fields.i_batch_id}" value="student">{{student.v_name}}</option>
        								</select>
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <label class="control-label col-md-3" id="customer-label">
                                        Students <span class="required"> * </span> 
                                    </label>
                                    <div class="col-md-6 sales-list-parent" ng-show="add_fields.i_batch_id">
                                        <div class="sales-list" ng-repeat="student in students_list | filter:{i_batch_id : add_fields.i_batch_id}">
                                            <label>
                                                <input type="checkbox" class="checkboxes student_chk" name="student_ids[]" value="{{ student.id }}" ng-model="active_chk" ng-change="selectStudent(student.id,active_chk)"/> {{student.v_name}}
                                            </label>
                                        </div>
                                        <p ng-show="(students_list|filter:{i_batch_id : add_fields.i_batch_id}).length === 0" class="form-control-static font-red-sunglo bold">No student found.</p>
    								</div>
                                    <div class="col-md-6" ng-hide="add_fields.i_batch_id">
                                        <p class="form-control-static font-red-sunglo bold">Please select batch.</p> 
                                    </div>
                                </div>
                                 <div class="form-group" ng-show="add_fields.i_batch_id && (students_list|filter:{i_batch_id : add_fields.i_batch_id}).length > 0">
                                    <label class="control-label col-md-3">
                                        &nbsp; 
                                    </label>
                                    <div class="col-md-6">
                                        <div class="sales-list">
                                            <label>
                                            <input type="checkbox" ng-model="selectedAll" class="group-checkable" ng-change="check_all_student()" data-set="#sample_1 .checkboxes" /> Select all</label>
                                        </div>
    								</div>
                                 </div>
                                
                                <div class="form-group">
                                    <label class="control-label col-md-3">Price <span class="required"> * </span> </label>
                                    <div class="col-md-4">
                                        <input type="text" ng-enter ng-model="add_fields.f_price" data-error-message="Price" name="f_price" class="form-control required"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3">Due Date <span class="required"> * </span> </label>
                                    <div class="col-md-4">
                                        <input type="text" ng-enter ng-model="add_fields.d_due_date" data-error-message="date" id="d_due_date" name="d_due_date" class="form-control required"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3">Paid Date <span class="required"> * </span> </label>
                                    <div class="col-md-4">
                                        <input type="text" ng-enter ng-model="add_fields.d_paid_date" data-error-message="date" id="d_paid_date" name="d_paid_date" class="form-control required"/>
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <label class="control-label col-md-3">Send Message <span class="required"> * </span> </label>
                                    <div class="col-md-4">
                                       <select class="form-control bs-select add_e_send_message required select_msg" ng-model="add_fields.e_send_message" name="e_send_message" data-error-message="send message">
											<option value="">Select Status</option>
        									<option value="Yes">Yes</option>
									        <option value="No">No</option>
										</select>
                                    </div>
                                </div>
                            </div>
							<div class="form-actions">
								<div class="row">
									<div class="col-md-offset-3 col-md-9">
										<button type="submit" class="btn blue-madison" ng-click="submit_frm_add(add_fields, 'Save')">Save</button>
										<button type="button" class="btn default" ng-click="clearFormData()">Cancel</button>
									</div>
								</div>
							</div>
                        </form>
                		<!-- END FORM-->
					</div>
					<!-- END VALIDATION STATES-->
				</div>
                        
            </div>
            <!-- End add form -->
            
		</div>
	</div>
<!-- END PAGE CONTENT-->
</div>