<div ng-controller="AddStudentsController">
<!-- BEGIN MAIN CONTENT -->
    <div class="row">
		<div class="col-md-12">
			<!-- Begin add form -->
            <div tabindex="-1">
                
                <div class="portlet box blue-madison">
					<div class="portlet-title">
						<div class="caption">
							<i class="fa fa-plus"></i>Add Student
						</div>
						<div class="tools">
							<a href="javascript:;" class=""></a>
						</div>
					</div>
					<div class="portlet-body form">
						<!-- BEGIN FORM-->
						<form id="frmAdd" name="frmAdd" class="form-horizontal" onsubmit="return false">
							<div class="form-body">
								<!--h3 class="form-section">Advance validation. <small>Custom radio buttons, checkboxes and Select2 dropdowns</small></h3-->
								<div class="alert alert-danger display-hide" id="validation_error">
									<button class="close" data-close="alert"></button>
                                    You have some form errors. Please check below.
								</div>
								<div class="alert alert-success display-hide" id="frm_add_msg">
									<button class="close" data-close="alert"></button>
                                    {{ success_msg }}
								</div>
                                <div class="form-group"></div>
                                
                                <div class="form-group">
                                    <label class="control-label col-md-3">First Name <span class="required"> * </span> </label>
                                    <div class="col-md-4">
                                        <input type="text" ng-enter ng-model="add_fields.v_first_name" data-error-message="First Name" name="v_first_name" class="form-control required"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3">Last Name <span class="required"> * </span> </label>
                                    <div class="col-md-4">
                                        <input type="text" ng-enter ng-model="add_fields.v_last_name" data-error-message="Last Name" name="v_last_name" class="form-control required"/>
                                    </div>
                                </div>
                                <!--<div class="form-group">
                                    <label class="control-label col-md-3">Username <span class="required"> * </span> </label>
                                    <div class="col-md-4">
                                        <input type="text" ng-enter ng-model="add_fields.v_username" data-error-message="Username" name="v_username" class="form-control required"/>
                                        <span class="duplicate_error temp_hid" id="v_username_duplicate_error">Username already exist.</span>
                                    </div>
                                </div>--->
                                <div class="form-group">
                                    <label class="control-label col-md-3">Email ID <span class="required"> * </span> </label>
                                    <div class="col-md-4">
                                        <input type="text" ng-enter ng-model="add_fields.v_email" data-error-message="Email" name="v_email" class="form-control required email"/>
                                        <span class="duplicate_error temp_hid" id="v_email_duplicate_error">Email Id already exist.</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3">Batch<span class="required"> * </span> </label>
                                    <div class="col-md-4">
                                        <select ng-model="add_fields.i_batch_id" data-error-message="Batch" name="i_batch_id" class="form-control required select_msg">
                                            <option value="">Select Batch</option>
                                            <option ng-repeat="(key, v_name) in batches_list" value="{{key}}">{{v_name}}</option>
        								</select>
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <label class="control-label col-md-3"> School <span class="required"> * </span> </label>
                                    <div class="col-md-4">
                                        <select ng-model="add_fields.i_school_id" data-error-message="School" name="	i_school_id" class="form-control required select_msg">
                                            <option value="">Select School</option>
                                            <option ng-repeat="(key, v_name) in schools_list" value="{{key}}">{{v_name}}</option>
        								</select>
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <label class="control-label col-md-3">Parent's Name <span class="required"> * </span> </label>
                                    <div class="col-md-4">
                                        <input type="text" ng-enter ng-model="add_fields.v_parent_name" data-error-message="Parent's Name" name="v_parent_name" class="form-control required"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3">Parent's Mobile Number <span class="required"> * </span> </label>
                                    <div class="col-md-4">
                                        <input type="text" ng-enter ng-model="add_fields.v_mobile_number" data-error-message="Parent's Mobile Number" name="v_mobile_number" class="form-control required"/>
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <label class="control-label col-md-3">Nick Name</label>
                                    <div class="col-md-4">
                                        <input type="text" ng-enter ng-model="add_fields.v_nick_name" data-error-message="Nick Name" name="v_nick_name" class="form-control"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3">Address <span class="required"> * </span> </label>
                                    <div class="col-md-4">
                                        <textarea class="form-control required" ng-enter ng-model="add_fields.v_address" data-error-message="Address" name="v_address"></textarea>
                                    </div>
                                </div>
                               <div class="form-group">
									<label class="control-label col-md-3">Status<span class="required"> * </span> </label>
									<div class="col-md-4">
										<select class="form-control bs-select add_e_status required select_msg" ng-model="add_fields.e_status" name="e_status" data-error-message="Status">
											<option value="">Select Status</option>
                                            <option value="Active">Active</option>
                                            <option value="Inactive">Inactive</option>
										</select>
									</div>
								</div>
							</div>
							<div class="form-actions">
								<div class="row">
									<div class="col-md-offset-3 col-md-9">
										<button type="submit" class="btn blue-madison" ng-click="submit_frm_add(add_fields, 'Save')">Save</button>
                                        <button type="submit" class="btn blue-madison" ng-click="submit_frm_add(add_fields, 'New')">Save & New</button>
										<button type="button" class="btn default" ng-click="clearFormData()">Cancel</button>
									</div>
								</div>
							</div>
						</form>
                        <!-- END FORM-->
					</div>
					<!-- END VALIDATION STATES-->
				</div>
                        
            </div>
            <!-- End add form -->
            
		</div>
	</div>
<!-- END PAGE CONTENT-->
</div>