@charset "UTF-8";

@font-face {
  font-family: "projectagram";
  src:url("fonts/projectagram.eot");
  src:url("fonts/projectagram.eot?#iefix") format("embedded-opentype"),
    url("fonts/projectagram.woff") format("woff"),
    url("fonts/projectagram.ttf") format("truetype"),
    url("fonts/projectagram.svg#projectagram") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "projectagram" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "projectagram" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-istagram:before {
  content: "a";
}
.icon-email:before {
  content: "b";
}
.icon-facebook:before {
  content: "c";
}
.icon-google:before {
  content: "d";
}
.icon-left-arrow:before {
  content: "e";
}
.icon-map-pin:before {
  content: "f";
}
.icon-phone:before {
  content: "g";
}
.icon-right-arrow:before {
  content: "h";
}
.icon-twitter:before {
  content: "i";
}
.icon-project:before {
  content: "j";
}
.icon-snap:before {
  content: "k";
}
.icon-tag:before {
  content: "l";
}
.icon-select-box:before {
  content: "m";
}
.icon-close:before {
  content: "n";
}
.icon-submit-arrow:before {
  content: "o";
}
.icon-blockquote-left:before {
  content: "p";
}
.icon-blockquote-right:before {
  content: "q";
}
.icon-sticky-nav:before {
  content: "r";
}
.icon-sticky-nav-active:before {
  content: "s";
}
.icon-menu-icon:before {
  content: "t";
}
.icon-circle-facebook:before {
  content: "u";
}
.icon-circle-google:before {
  content: "v";
}
.icon-circle-istagram:before {
  content: "w";
}
.icon-circle-twitter:before {
  content: "x";
}
.icon-fullscreen:before {
  content: "y";
}
.icon-stop:before {
  content: "z";
}
.icon-play:before {
  content: "A";
}
.icon-pause:before {
  content: "B";
}
.icon-up:before {
  content: "C";
}
.icon-down:before {
  content: "D";
}
.icon-play-btn:before {
  content: "E";
}
.icon-fullscreen-r:before {
  content: "F";
}
