<div ng-controller="AccountSettingController">
<!-- BEGIN MAIN CONTENT -->
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box blue-madison">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-user"></i>Edit My Profile
                    </div>
                </div>
                <div class="portlet-body form">
					<!-- BEGIN FORM-->
					<form id="frmEdit" name="frmEdit" class="form-horizontal" onsubmit="return false">
						<div class="form-body">
							<!--h3 class="form-section">Advance validation. <small>Custom radio buttons, checkboxes and Select2 dropdowns</small></h3-->
							<div class="alert alert-danger display-hide" id="validation_error">
								<button class="close" data-close="alert"></button>
								You have some form errors. Please check below.
							</div>
							<div class="alert alert-success display-hide">
								<button class="close" data-close="alert"></button>
								Your data has been saved successfully.
							</div>
                            <div class="form-group"></div>
							<div class="form-group">
								<label class="control-label col-md-3">Name <span class="required"> * </span> </label>
								<div class="col-md-4">
									<input type="text" ng-enter ng-model="$root.items.v_name" name="v_name" data-error-message="Name" class="form-control required"/>
								</div>
							</div>
                            <div class="form-group">
                                <label class="control-label col-md-3">E-Mail <span class="required"> * </span> </label>
                                <div class="col-md-4">
                                    <input type="text" ng-enter ng-model="$root.items.v_email" id="email" rel="{{ items.id }}" name="email" data-error-message="email" class="form-control required email"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">Password <br /><span style="font-size: 11px; color: red;">(Note: Password will be updated if entered) </label>
                                <div class="col-md-4">
                                    <input type="password" ng-model="items.v_password" ng-enter name="v_password" id="v_password" data-error-message="password" class="form-control"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">Confirm Password </label>
                                <div class="col-md-4">
                                    <input type="password" ng-enter name="cpassword" data-error-message="confirm password" equalTo="#v_password" class="form-control"/>
                                </div>
                            </div>
                            
						</div>
						<div class="form-actions">
							<div class="row">
								<div class="col-md-offset-3 col-md-9">
									<button type="submit" class="btn blue-madison" ng-click="submit_frm_edit($root.items)">Submit</button>
                                     <button ui-sref="/dashboard" class="btn default " type="button">Cancel</button>
								</div>
							</div>
						</div>
					</form>
                        
					<!-- END FORM-->
				</div>
            </div>
        </div>
    </div>
</div>