<!-- BEGIN MAIN CONTENT -->
<div data-ng-controller="LoginController">
	<!-- BEGIN LOGO -->
	<div class="logo">
		<a href="index.html">
			<img src="{{ GLOBAL.SITE_URL }}images/logo.png" alt=""/>
		</a>
	</div>
	<!-- END LOGO -->
	<!-- BEGIN SIDEBAR TOGGLER BUTTON -->
	<div class="menu-toggler sidebar-toggler">
	</div>
	<!-- END SIDEBAR TOGGLER BUTTON -->
	<!-- BEGIN LOGIN -->
	<div class="content">
		<!-- BEGIN LOGIN FORM -->
		<form class="reset-form" id="reset-form" name="reset-form" onsubmit="return false" ng-submit="submitResetPassword()" method="post">
	        <h3 class="form-title">Reset your password here</h3>
	        <div class="alert alert-danger display-hide">
	            <button class="close" data-close="alert"></button>
	            <span>Invalid password. </span>
	        </div>
	        <div class="alert alert-success display-hide">
				<button class="close" data-close="alert"></button>
				Your password has been changed successfully.
			</div>
	        <div class="form-group">
	            <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
	            <label class="control-label visible-ie8 visible-ie9">Password</label>
	            <div class="input-icon">
	                <i class="fa fa-lock"></i>
	                <input class="form-control placeholder-no-fix required" type="password" data-error-message="Username" autocomplete="off" ng-enter placeholder="Password" ng-model="v_password" id="v_password" name="v_password"/>
	            </div>
	        </div>
	        <div class="form-group">
	            <label class="control-label visible-ie8 visible-ie9">Confirm Password</label>
	            <div class="input-icon">
	                <i class="fa fa-lock"></i>
	                <input class="form-control placeholder-no-fix required" type="password" data-error-message="Password" autocomplete="off" ng-enter placeholder="Confirm Password" equalTo="#v_password" ng-model="v_confirm_password" name="v_confirm_password"/>
	            </div>
	        </div>
	        <div class="form-actions cf">
	        	<label class="checkbox">&nbsp;</label>
	            <button ngEnter type="submit" class="btn green-haze pull-right">
	            Change <i class="m-icon-swapright m-icon-white"></i>
	            </button>
	        </div>              
	    </form>
	    <!-- END LOGIN FORM -->
	</div>
	<!-- END LOGIN -->
	<!-- BEGIN COPYRIGHT -->
	<div class="copyright">
		 {{ currentYear }} &copy; {{ GLOBAL.SITE_NAME }}.
	</div>
</div>