<script type="text/javascript">
	var t ;
	$( document ).ready(
    function()
    {       
        window.clearTimeout( t );
        t = window.setTimeout( function(){            
            $('#d_coc_date').datepicker({format: 'dd-mm-yyyy'});
            $('#d_date').datepicker({format: 'dd-mm-yyyy'});
        },10);        
    }
);

</script>
<div ng-controller="AddUsersController">
<!-- BEGIN MAIN CONTENT -->
    <div class="row">
		<div class="col-md-12">
			<!-- Begin add form -->
            <div tabindex="-1">
                
                <div class="portlet box blue-madison">
					<div class="portlet-title">
						<div class="caption">
							<i class="fa fa-plus"></i>Add User
						</div>
						<div class="tools">
							<a href="javascript:;" class=""></a>
						</div>
					</div>
					<div class="portlet-body form">
						<!-- BEGIN FORM-->
						<form id="frmAdd" name="frmAdd" class="form-horizontal" onsubmit="return false">
							<div class="form-body">
								<!--h3 class="form-section">Advance validation. <small>Custom radio buttons, checkboxes and Select2 dropdowns</small></h3-->
								<div class="alert alert-danger display-hide" id="validation_error">
									<button class="close" data-close="alert"></button>
                                    You have some form errors. Please check below.
								</div>
								<div class="alert alert-success display-hide" id="frm_add_msg">
									<button class="close" data-close="alert"></button>
                                    {{ success_msg }}
								</div>
                                <div class="form-group"></div>
                                <div class="form-group" ng-show="user_permission == 'Super Admin'">
									<label class="control-label col-md-3">User Type<span class="required"> * </span> </label>
									<div class="col-md-4">
										<select class="form-control bs-select add_e_type select_msg" ng-class="user_permission == 'Super Admin'?'required':''" ng-model="add_fields.e_type" name="e_type" data-error-message="User Type">
											<option value="">Select User Type</option>
                                            <option value="User">User</option>
                                            <option value="Admin">Admin</option>
										</select>
									</div>
								</div>
                                <div class="form-group">
                                    <label class="control-label col-md-3">Owner Name <span class="required"> * </span> </label>
                                    <div class="col-md-4">
                                        <input type="text" ng-enter ng-model="add_fields.v_name" data-error-message="Owner Name" name="v_name" class="form-control required"/>
                                    </div>
                                </div>
                                <!--<div class="form-group">
                                    <label class="control-label col-md-3">Username <span class="required"> * </span> </label>
                                    <div class="col-md-4">
                                        <input type="text" ng-enter ng-model="add_fields.v_username" data-error-message="Username" name="v_username" class="form-control required"/>
                                        <span class="duplicate_error temp_hid" id="v_username_duplicate_error">Username already exist.</span>
                                    </div>
                                </div>--->
                                <div class="form-group">
                                    <label class="control-label col-md-3">Owner Email ID <span class="required"> * </span> </label>
                                    <div class="col-md-4">
                                        <input type="text" ng-enter ng-model="add_fields.v_email" data-error-message="company Owner Email ID" name="v_email" class="form-control required email"/>
                                        <span class="duplicate_error temp_hid" id="v_email_duplicate_error">Email Id already exist.</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3">Password <span class="required"> * </span> </label>
                                    <div class="col-md-4">
                                        <input type="password" ng-enter ng-model="add_fields.v_password" data-error-message="Password" name="v_password" id="v_password" class="form-control required validate_password"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3">Confirm Password <span class="required"> * </span> </label>
                                    <div class="col-md-4">
                                        <input type="password" data-error-message="Confirm Password" equalTo="#v_password" id="cpassword" class="form-control required"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3">Company Name <span class="required"> * </span> </label>
                                    <div class="col-md-4">
                                        <input type="text" ng-enter ng-model="add_fields.v_company_name" data-error-message="Company Name" name="v_company_name" class="form-control required"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3">Company Email Address <span class="required"> * </span> </label>
                                    <div class="col-md-4">
                                        <input type="text" ng-enter ng-model="add_fields.v_company_email" data-error-message="Company Email" name="v_company_email" class="form-control required email"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3" for="inputWarning">Company Logo</label>
                                    <div class="col-md-9">
                                        <div class="fileinput fileinput-new" data-provides="fileinput">
                                            <div ng-class="enableCrop == false ? 'fileinput-new thumbnail ng-show' : 'fileinput-new thumbnail ng-hide'" class="fileinput-new thumbnail" style="width: 200px; height: 150px;" ng-show="enableCrop == false">
                                                <img src="{{ GLOBAL.SITE_URL+'img/no_image.png' }}" alt="" />
                                            </div>
                                            <!--div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;"></div-->
                                            <div ng-if="enableCrop" class="cropArea thumbnail" ng-class="{'big':size=='big', 'medium':size=='medium', 'small':size=='small'}" ng-show="enableCrop == true">
                                                <img-crop image="imageDataURI"
                                                          result-image="$parent.resImageDataURI"
                                                          change-on-fly="changeOnFly"
                                                          area-type="{{type}}"
                                                          area-min-size="selMinSize"
                                                          result-image-format="{{resImgFormat}}"
                                                          result-image-quality="resImgQuality"
                                                          result-image-size="resImgSize"
                                                          on-change="onChange($dataURI)"
                                                          on-load-begin="onLoadBegin()"
                                                          on-load-done="onLoadDone()"
                                                          on-load-error="onLoadError()"
                                                ></img-crop>
                                                
                                                <input type="hidden" name="v_img" id="full-image-element" value="{{ imageDataURI }}" />
                                                <input type="hidden" name="v_img_thumb" id="crop-image-element" value="{{ resImageDataURI }}"/>                                                 
                                            </div>
                                            
                                            <div>
                                                <span class="btn default btn-file" ng-click="trigger('#fileInput')">
                                                    <div ng-class="enableCrop == false ? 'fileinput-new ng-show-inline-block' : 'fileinput-new ng-hide'" ng-show="enableCrop == false" >Select image</div>
                                                    <span ng-class="enableCrop == true ? 'fileinput-exists ng-show-inline-block' : 'fileinput-exists ng-hide'" ng-if="enableCrop"> Change </span>
                                                </span>
                                                <a href="javascript:;" ng-class="enableCrop == true ? 'btn default fileinput-exists  ng-show-inline-block' : 'btn default fileinput-exists ng-hide'" data-dismiss="fileinput" ng-click="removeImage()" ng-if="enableCrop" > Remove </a>
                                            </div>
                                        </div>
                                        <div class="clearfix margin-top-10">
                                            <span class="label label-danger">NOTE! </span>
                                            <span>&nbsp;&nbsp;Attached image thumbnail is supported in the latest Firefox, Chrome, Opera, Safari and Internet 10 - Edge browsers.</span>
                                        </div>
                                        
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3">Company Alias <span class="required"> * </span> </label>
                                    <div class="col-md-4">
                                        <input type="text" ng-enter ng-model="add_fields.v_company_alias" data-error-message="Company Alias" name="v_company_alias" class="form-control required"/>
                                        <span class="duplicate_error temp_hid" id="v_company_alias_duplicate_error">Company alias already exist.</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3">Company Address <span class="required"> * </span> </label>
                                    <div class="col-md-4">
                                        <input type="text" ng-enter ng-model="add_fields.v_company_address" data-error-message="Company Address" name="v_company_address" class="form-control required"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3">Regards Name</label>
                                    <div class="col-md-4">
                                        <input type="text" ng-enter ng-model="add_fields.v_regards_name" data-error-message="First Name" name="v_regards_name" class="form-control"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3">Phone Number <span class="required"> * </span> </label>
                                    <div class="col-md-4">
                                        <input type="text" ng-enter ng-model="add_fields.v_phone" data-error-message="Phone Number" name="v_phone" class="form-control required digits"/>
                                    </div>
                                </div>
                                <div class="form-group">
									<label class="control-label col-md-3">Message Type<span class="required"> * </span> </label>
									<div class="col-md-4">
										<select class="form-control bs-select add_e_messages_type required select_msg" ng-model="add_fields.e_messages_type" name="e_messages_type" data-error-message="Message Type">
											<option value="">Select Message Type</option>
                                            <option value="Transactional">Transactional</option>
                                            <option value="Promotional">Promotional</option>
										</select>
									</div>
								</div>
                                <div class="form-group">
									<label class="control-label col-md-3">Total Message<span class="required"> * </span> </label>
									<div class="col-md-4">
										<select class="form-control bs-select add_i_default_sms_count required select_msg" ng-model="add_fields.i_default_sms_count" name="i_default_sms_count" data-error-message="Message Count">
											<option value="">Select Total Count</option>
                                            <option value="100">100</option>
                                            <option value="200">200</option>
                                            <option value="500">500</option>
                                            <option value="1000">1000</option>
										</select>
									</div>
								</div>                               
                                <div class="form-group">
									<label class="control-label col-md-3">Status<span class="required"> * </span> </label>
									<div class="col-md-4">
										<select class="form-control bs-select add_e_status required select_msg" ng-model="add_fields.e_status" name="e_status" data-error-message="Status">
											<option value="">Select Status</option>
                                            <option value="Active">Active</option>
                                            <option value="Inactive">Inactive</option>
										</select>
									</div>
								</div>
							</div>
							<div class="form-actions">
								<div class="row">
									<div class="col-md-offset-3 col-md-9">
										<button type="submit" class="btn blue-madison" ng-click="submit_frm_add(add_fields, 'Save')">Save</button>
                                        <button type="submit" class="btn blue-madison" ng-click="submit_frm_add(add_fields, 'New')">Save & New</button>
										<button type="button" class="btn default" ng-click="clearFormData()">Cancel</button>
									</div>
								</div>
							</div>
						</form>
                        <form id="form_name" action="{{ getSrc('api/employee/upload-for-ie'); }}" method="post" enctype="multipart/form-data">
                            <input type="file" name="file_upload" id="fileInput" style="display: none;" />
                        </form>
                        
                            
						<!-- END FORM-->
					</div>
					<!-- END VALIDATION STATES-->
				</div>
                        
            </div>
            <!-- End add form -->
            
		</div>
	</div>
<!-- END PAGE CONTENT-->
</div>